//
  NOTE -
  This HTML script is purely written in the templating engine of node.js 
  i.e Jade, if you want to edit or rather manipulate the html script please 
  head over to index.jade 
  NOTE -
  I will compile all the code of the jade file into 
  an .html file, you can manipulate the html file in order to manipulate the DOM
//
doctype html 
html(lang="en")
  head 
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    //
      Reset CSS 
    link(rel="stylesheet", href="../Reset.cs" type="text/css")
    //
      StyleSheet of the DOM 
    link(rel="stylesheet", href="registration.css" type="text/css")
    //
      Title of the website
    title Registration
    //
      Icon of the website
    link(rel="icon" href="../Icon.png")
  body
    header
      .Logo
        .LogoImage
        p Intelligent Busines Network
      h1 Registration 
      .stages.PersonalDetails 
        p
        | Personal Details 
      .stages.MoreAboutMe 
        p
        | More About Me
      .stages.Professional 
        p
        | Professional / Academic
      .stages.FinancialDetails
        p
        | Financial Details
      
    .PersonalDetailsDiv
      h1 Personal Details
      form(action="" class="PersonalDetailsForm" method="post")
        input(type="text" name="Username" value="Username")
        input(type="password" name="Password" value="Password")          
        input(type="text" name="First Name" value="First Name")
        input(type="text" name="Last Name" value="Last Name")
        input(type="password" name="Confirm Password" value="Confirm Password")
        input(type="Date" name="DateOfBirth" value="Date Of Birth")
        select
          option(value="Male") M
          option(value="Female") F
          option(value="Other") Other
        select
          option(value="Married") Married
          option(value="Single") Single
          option(value="Complicated") Complicated 
          option(value="Widow") Widow   
          option(value="Widoer") Widoer
    .ProgressBar
      .One
      .Two
      .Three
      .Four
      .Five
      .Six              
    
    script(type="text/javascript" src="../jquery-3.1.1.min.js")
    script(type="text/javascript" src="JS.js")
  // End Of DOM
