/*Font Faces */

@font-face {
  font-family: "Avenir";
  src: url('../Fonts/AvenirNextLTPro-Regular.otf');
}

@font-face {
  font-family: "AvenirL";
  src: url('../Fonts/AvenirNextLTPro-UltLtCn.otf');
}

@font-face {
  font-family: "AvenirB";
  src: url('../Fonts/AvenirNextLTPro-Bold.otf');
}


/*Selection customization */

::selection {
  color: #2C3E50;
}


/*Body Cascade*/
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  overflow: hidden;
}

html {
  font-family: Avenir;
}

header {
  clear: both;
  color: white;
  background-color: #2C3E50;
  width: 25%;
  height: 100%;
  position: fixed;
  text-align: right;
}

header h1 {
  text-align: left;
  margin-left: 3%;
  font-weight: lighter;
  font-size: 15px;
  letter-spacing: 0.2em;
  margin-top:  10%;
  margin-bottom: 5%;
  opacity: 0.5;
}

.stages, .SubsStages {
  width: 100%;
  background-color: #3E5F80;
}



.LogoImage {
  margin-left: 1%;
  height: 70%;
  background-image: url('RegistrationLogo.png');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  /*background-color: red;*/
  width: 20%;
  float: left;
  margin-top: -4%
}

.Logo {
  margin-left: 1%;
  margin-top: 5%;
  width: 100%;
  height: 10%;
  padding-top: 10%;
  /*background-color: pink;*/
}

.Logo p {
  letter-spacing: 0.2em;
  font-size: 12px;
  opacity: 0.5;
  padding-right: 10%;
}

.PersonalDetailsDiv {
  margin-left: 27%;
}

.PersonalDetailsDiv h1 {
  padding-top: 6%;
  margin-bottom: 5%;
  font-weight: lighter;
  font-size: 28px;
  letter-spacing: 0.2em;
}

input[type="text"], input[type="password"],
input[type="Date"], select
{
  border: none;
  border-bottom: 2px solid #95989A;
  width: 30%;
  padding: 5px;
}
input[value="Username"] {
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 2%;
}
input[type="password" name="Confirm Password"]
{
  border: none;
  border-bottom: 4px solid red;
  width: 50%;
  padding: 20px;
}
input[type="password"] {
  margin-left: 5%;
}


/*Responsive website */


/*Media query for max-width - 1024px;*/

@media screen and (max-width: 1366px) {}

@media screen and (max-width: 1024px) {}


/*Media query for max-width - 768px;*/

@media screen and (max-width: 768px) {}


/*Media query for max-width - 425px;*/

@media screen and (max-width: 425px) {}


/*Media query for max-width - 375px;*/

@media screen and (max-width: 375px) {}


/*Media query for max-width - 320px;*/

@media screen and (max-width: 320px) {}
