/*Font Faces */

@font-face {
  font-family: "Avenir";
  src: url('../Fonts/AvenirNextLTPro-Regular.otf');
}

@font-face {
  font-family: "AvenirL";
  src: url('../Fonts/AvenirNextLTPro-UltLtCn.otf');
}

@font-face {
  font-family: "AvenirB";
  src: url('../Fonts/AvenirNextLTPro-Bold.otf');
}


/*Selection customization */

::selection {
  color: #2C3E50;
}


/*Body Cascade*/

body {
  margin: 0px;
}

body a {
  color: #2C3E50;
  text-decoration: none;
}

html {
  font-family: Avenir;
}

header {
  height: 10vh;
  width: 100%;
  background-color: #2C3E50;
}

.Logo {
  margin-top: 15px;
  float: left;
  margin-left: 1%;
  width: 10vw;
  height: 50%;
  background-image: url('White logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.MainProducts {
  height: 100%;
  width: 30%;
  margin-left: 20vw;
}

.navDiv {
  text-align: center;
  width: 33%;
  height: 100%;
  background-color: #465665;
  float: right;
}

.navDiv a {
  margin-top: 40%;
  color: white;
  transition: 0.3s;
}

.navDiv a:hover {
  opacity: 0.5;
}

.IBazzar {
  margin-right: 0.55%;
}

.LaunchPad {
  float: left;
}

.Connect {
  height: 100%;
  width: 10vw;
  float: right;
  background-color: #465665;
}

h1 {
  margin-top: 5%;
  font-size: 30pt;
  margin-left: 3%;
}

form {
  margin-left: 3%;
}

.inputInfo {
  margin-top: 4%;
}

.Username {
  color: #465665;
}

input[type=text], input[type=password] {
  margin-top: 1%;
  width: 40%;
  padding: 20px;
}

.optionsIfLoginFalse {
  margin-top: 0.5%;
  height: 10%;
  width: 42%;
}

.forgotPassword {
  float: right;
}

input[type=submit] {
  color: white;
  width: 10%;
  padding: 20px;
  margin-top: 30px;
  margin-left: 33%;
  border-style: none;
  background-color: #2C3E50;
  transition: 0.3s;
}

input[type=submit]:hover {
  cursor: pointer;
  background-color: #99a1a7;
}

.LoginDivision {
  height: 40vh;
  margin-right: 10%;
  width: 30%;
  float: right;
  background-color: pink;
}

.Login {
  text-align: center;
  margin-top: 3%;
  background-color: red;
  height: 25%;
}

/*Responsive website */


/*Media query for max-width - 1024px;*/

@media screen and (max-width: 1366px) {}

@media screen and (max-width: 1024px) {}


/*Media query for max-width - 768px;*/

@media screen and (max-width: 768px) {}


/*Media query for max-width - 425px;*/

@media screen and (max-width: 425px) {}


/*Media query for max-width - 375px;*/

@media screen and (max-width: 375px) {}


/*Media query for max-width - 320px;*/

@media screen and (max-width: 320px) {}
