//
  NOTE -
  This HTML script is purely written in the templating engine of node.js 
  i.e Jade, if you want to edit or rather manipulate the html script please 
  head over to index.jade 
//
  Main script
doctype html
html(lang="en")
  //
    head
      Script is included in head.Jade
  include ./head.jade
  body 
    header
      .IBNlogo.HeaderIcon
      .LaunchPad.MenuButton
        p
          | Launch Pad
      .iBzaar.MenuButton
        p
          | iBazzar
      .Find.MenuButton
        p
          | Find
      .Search.MenuButton
      .Connect.MenuButton
    //Variable that stores the information of header text    
    - HeaderInfo = "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."
    .HeaderParagraph 
      p
        | #{HeaderInfo}
    
    - TimeLeft = "1 Day 7 Hours"
    //The sliding division
    .infoSlider
      .Left.Arrow
      .Right.Arrow
      .picture.SliderImage
      .SliderInfo
        .Heading
        .Info
        .Button.Invest 
        .timeLeftInfo
          .Icon.time
          .timerCountdown
            p
              | #{TimeLeft}
        .followerinfo
        
          
        
        
        
        
            
